GITHUB_PRIVATE_PEM='Get value from 1password. DO NOT REMOVE single quotes'
GITHUB_CLIENT_ID=get_from_1password
GITHUB_APP_URL=https://github.com/apps/3po-test-dev-app
BITBUCKET_OAUTH_KEY=get_from_1password
BITBUCKET_OAUTH_SECRET=get_from_1password
GITLAB_APP_ID=get_from_1password
GITLAB_APP_SECRET=get_from_1password