.root {
  display: flex;
  height: 100vh;
}

.contentColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: auto;
}

.main {
  flex-grow: 1;
  padding: 28px 24px;
}

.mainNoPadding {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 16px 0;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.footer img {
  display: block;
}

.footer:hover {
  opacity: 0.8;
}
